{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Stock Data{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
</head>

<body>
  <div id="page">
    <div id="sidebar">
      {% block sidebar %}
        <ul>
          <li><a href="/articles">Articles</a></li>
          <li><a href="/admin">Admin</a></li>
        </ul>
      {% endblock %}
    </div>
    <div id="content">
      {% block content %}This is the content area{% endblock %}
    </div>
  </div>
</body>
</html>