body {
  text-align: center;
}

h1, h2, h3 {
  margin: 0 0 20px;
}

#graph2 {
  margin-top: 50px;
}

#page {
  width: 100%;
  text-align: left;
  margin: 10px auto 20px auto;
  background-color: #0c0c0c;
}

#sidebar {
  float: left;
  width: 200px;
  background: #eee;
}

#content {
  float: left;
  padding: 0 20px;
}

.axis path, .axis line {
  fill: none;
  stroke: white;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.tick text,
text.title,
text.label {
  font-family: helvetica;
  fill: white;
}

.line {
  fill: none;
  stroke: #ABFF00;
  stroke-width: 1.5px;
}
